<% if !current_user.monsters.empty? %>
    <div class="row justify-content-center">
      <div class="card" style="width: 22rem;">
        <h3 class="card-header text-center">Your Monsters</h3>
        <div class="card-body">
          <% current_user.monsters.least_happy.each do |m| %>
            <div class="w-30 d-inline-block">
              <a href="<%= monster_path(m)%>" class="btn btn-sq btn-primary">
              <div class="align-content-center" style="margin-top: 20px;">
              <%= m.name %><br><span style="font-size: 1px;">Feeling&nbsp;<%= m.happy? %></span>
              </div>
              </a>&nbsp;&nbsp;
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <br>
    <h2 class="row justify-content-center">MAKE A MONSTER!</h2>
  <% end %>