<div class="card">
  <div class="card-header text-center">
    WELCOME
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Tamagapuri!</h5>
    <p class="card-text">Collect monsters and keep them alive!</p>
  </div>
</div>