<div>
  <h3 class="row justify-content-center">Welcome to the Store!</h3>
  <br>
  <h5 class="row justify-content-center">You have &#8377; <%= current_user.rupees %></h5>
  <Br><br>
</div>

<%= render partial: "layouts/error", locals: {variable: :message} %>

<%= render 'items/items_view'%>

<%= stylesheet_link_tag "items" %>