<div>
  <h3 class="row justify-content-center">Welcome to the Store!</h3>
  <Br><br>
</div>

<%= render partial: "layouts/error", locals: {variable: :message} %>

<%= render 'items/items_view'%>

<%= stylesheet_link_tag "items" %>