// Place all the styles related to the monsters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.monster_img{
    width: 128px;
    height: 128px;
    background-image : url("monsters/Slime_Medium_Blue.png");
    animation: moveX 1s steps(4) infinite;
    background-size: 512px;
  }
  @keyframes moveX{
    from{background-position-x:0px;}
    to{background-position-x:-512px;}
  }
